@model IEnumerable<SistemaZonaFranca.Models.FacturaDetalle>

@{
    ViewData["Title"] = "Factura detalles";
}

<h1>Factura detalles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factura.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventario.Descripcion)
                </td>
                <td class="d-flex justify-content-end gap-2 align-content-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
