@model IEnumerable<SistemaZonaFranca.Models.Envio>

@{
    ViewData["Title"] = "Envios";
}

<h1>Envios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DireccionOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadDestino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionOrigen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factura.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CiudadOrigen.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CiudadDestino.Nombre)
                </td>
                <td class="d-flex justify-content-end gap-2 align-content-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
